/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-family: Verdana,sans-serif;
    scroll-behavior: smooth;
}

/* Common */
.pull-left {
    float: left;
}

.text-white {
    color: #fff !important;
}

.character-space {
    letter-spacing: 4px;
}

.btn{
    text-decoration: none;
    font-size: 15px;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
}

/*----------Header----------*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 8px 16px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.nav {
    list-style-type: none;
    float: right;
}

.header li {
    display: inline-block;
}

.header a {
    display: inline-block;
    color: #000;
    line-height: 1.5em;
    padding: 8px 16px;
}
/*----------End Header----------*/

/*----------Slider----------*/
.slider {
    position: relative;
    margin: 0 94px;
    margin-top: 54.5px;
    padding-top: 50%;
    font-size: 36px;
    align-items: center;
    justify-items: center;
    background: url("../img/Slider/Slider1.jpg") top center / cover no-repeat;
}

.slider .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 2px #000;
}

.slider .logo  b {
    padding: 16px;
    background-color: #000;
    opacity: 0.75;
}
/*----------End Slider----------*/

/*----------Content----------*/
.content {height: 1000px;}
/*----------End Content----------*/

/*----------Footer----------*/
.footer {}
/*----------End Footer----------*/