/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana,sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

p {
    font-size: 15px;
    line-height: 1.5;
}

/* Common */
.pull-left {
    float: left;
}

.text-white {
    color: #fff !important;
}

.character-space {
    letter-spacing: 4px;
}

.btn{
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc !important;
    color: #000 !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 16px 8px 0;
}

.col-four {
    width: 25%;
}

/*----------Header----------*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 8px 16px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.16);
    z-index: 9999;
}

.nav {
    list-style-type: none;
    float: right;
}

.header li {
    display: inline-block;
}

.header a {
    display: inline-block;
    color: #000;
    font-size: 15px;
    line-height: 1.5em;
    padding: 8px 16px;
}
/*----------End Header----------*/

/*----------Slider----------*/
.slider {
    position: relative;
    margin: 0 94px;
    padding-top: 48%;
    font-size: 36px;
    align-items: center;
    justify-items: center;
    background: url("../img/Sliders/Slider1.jpg") top center / cover no-repeat;
}

.slider .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    text-shadow: 0 2px #000;
}

.slider .logo  b {
    padding: 16px;
    background-color: #000;
    opacity: 0.75;
}

.slider .logo  p {
    display: inline-block;
    color: #fff;
    font-size: 36px;
}
/*----------End Slider----------*/

/*----------Content----------*/
.content {
    margin: 0 94px;
}

.content-section {
    padding-top: 66px;
}

.content-section .heading-section {
    font-size: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid #f1f1f1;
}

.content-section .main-section {
    margin-top: 26px;
}

/*-----Project-----*/
.img-project-place {
    position: relative;
}

.img-project-place .sub-project {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 10px 16px;
}
/*-----End Project-----*/

/*-----About-----*/
.membes-list {
    margin-top: 32px;
    margin-bottom: 8px;
}

.membes-list .member-ava {
    filter: grayscale(80%)
}

.membes-list .member-name {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 400;
}

.membes-list .member-position {
    margin: 15px 0;
    opacity: 0.6;
}

.membes-list .contact-btn {
    display: block;
    padding: 8px 0;
    margin: 15px 0;
    background-color: #f1f1f1;
    color: #000;
    text-align: center;
}
/*-----End About-----*/

/*-----Contact-----*/
.contact-form input {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contact-form .submit-btn {
    width: auto;
    margin-top: 32px;
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}
/*-----End Contact-----*/

/*-----Map-----*/
.map {
    margin-top: 48px;
}
/*-----End Map-----*/
/*----------End Content----------*/

/*----------Footer----------*/
.footer {
    background-color: #000;
    color: #fff;
    margin-top: 8px;
    padding: 30px 0;
    font-size:15px;
    line-height: 1.5;
    text-align: center;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #4CAF50;
}
/*----------End Footer----------*/